<!DOCTYPE html>
<html>
<head>
<title>App Server Arena</title>
</head>

<body>

<h1>App Server Arena</h1>

<p>This is just a simple app with a few specific features to profile various app servers.</p>

<ul>
  <li><a href="/server">Server Info</a></li>
  <li><a href="/pi">Calculate &Pi;</a></li>
  <li><a href="/sleep">Sleep for 1 second</a></li>
  <li><a href="/random">Do one of the above things at random</a></li>
</ul>

</body>
</html>
