<!DOCTYPE html>
<html>
<head>
<title>App Server Arena</title>
</head>

<body>

<h1>Server Information</h1>

<table>
  <tr>
    <td>App Server:</td>
    <td><%= @current_server %></td>
  </tr>
</table>

</body>
</html>